h2 {
  font-size: 1.5rem;
}

#navegacion {
  float: left;
  width: 39%;
  height: 469px;
  border: 5px solid #006666;
}

#equipocarac {
  float: left;
  border: 5px solid red;
  background: url("../media/images/userdetails.png");
  width: 27%;
  max-width: 370px;
}

li {
  padding-bottom: 12px;
}

.controles {
  width: 230px;
}

.block {
  width: 130px;
  text-align: left;
}

.center {
  margin: auto;
}

.middle {
  margin-left: 20px;
  margin-right: 20px;
}

.control {
  width: 50px;
  margin: 5px;
}

img {
  margin: 5px;
}

label {
  margin-left: 20px;
}

section {
  border-radius: 15px;
  box-sizing: border-box;
  margin: 3px;
  padding: 3px;
}

progress {
  vertical-align: middle;
}

#minimap {
  border: 5px solid blue;
  width: 30%;
  float: left;
}

.col {
  border: 5px solid black;
  border-radius: 25px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
}

.compass {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 20px auto;
  background: #222;
  padding: 20px;
  border-radius: 40px;
  border: 5px solid #444;
  overflow: hidden;
}

.compass .disc {
  z-index: 200;
  background: url("../media/images/compass.svg");
}

.compass #arrow {
  z-index: 1000;
  background: url("../media/images/arrow.svg");
}

.compass #arrow, .compass .disc {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 210px;
  height: 210px;
  background-size: 100% !important;
}

#alert {
  background-color: #d4edda;
  color: #155724;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 1001;
  padding: 80px;
  visibility: hidden;
}

p {
  margin: 2px;
}
