$equipocarac_background: url("../media/images/userdetails.png");
$equipocarac_width: 27%;
$equipocarac_border: 5px solid red;
$compass_image: url('../media/images/compass.svg');
$compass_arrow_image: url('../media/images/arrow.svg');
$section_margin: 3px;
$section_padding: 3px;
$section_border_radius: 15px;
$minimap_width: 30%;
$minimap_border: 5px solid blue;
$navegacion_border: 5px solid #006666;
$navegacion_width: 39%;
$navegacion_height: 469px;
$alert_background_color: #d4edda;
$alert_text_color: #155724;


h2 {
  font-size: 1.5rem;
}

//Box Sección Juego
#navegacion {
  float:left;
  width: $navegacion_width;
  height: $navegacion_height;
  border: $navegacion_border;
}

//Box Sección Equipo & Características
#equipocarac {
  float:left;
  border: $equipocarac_border;
  background: $equipocarac_background;
  width: $equipocarac_width;
  max-width: 370px;
}

li {
  padding-bottom: 12px;
}

//A continuación 5 clases referentes a los controles del jugador (4 botones)
.controles {
  width: 230px;
}

.block {
  width:130px;
  text-align:left;
}

.center {
  margin:auto;
}

.middle {
  margin-left: 20px;
  margin-right: 20px;
}

.control {
  width: 50px;
  margin: 5px;
}

img {
  margin: 5px;
}

label {
  margin-left: 20px;
}

//Toda sección tiene borde, margen y padding.
section {
  border-radius: $section_border_radius;
  box-sizing: border-box;
  margin: $section_margin;
  padding: $section_padding;
}

progress {
  vertical-align: middle;
}

//Box sección Minimapa
#minimap {
  border: $minimap_border;
  width: $minimap_width;
  float:left;
}

//El minimapa usa columnas col de bootstrap (se modifica)
.col {
  border: 5px solid black;
  border-radius: 25px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

//El minimapa usa filas row de bootstrap (se modifica)
.row {
  margin-left: 2%;
  margin-right: 2%;
}

//Las siguientes clases compass son de la brújula
.compass {
	position: relative;
	width: 260px;
	height: 260px;
	margin: 20px auto;
	background: #222;
	padding: 20px;
	border-radius: 40px;
	border: 5px solid #444;
	overflow: hidden;
}

.compass .disc {
	z-index: 200;
	background: $compass_image;
}

.compass #arrow {
	z-index: 1000;
	background: $compass_arrow_image;
}

.compass #arrow, .compass .disc {
  position: absolute;
	top: 20px;
	left: 20px;
  width: 210px;
	height: 210px;
	background-size: 100% !important;
}


//Alerta propia que se muestra para dar mensaje parecida a bootstrap
#alert {
  background-color: $alert_background_color;
  color: $alert_text_color;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 1001;
  padding: 80px;
  visibility: hidden;
}

p {
  margin: 2px;
}
