body {
  background: url("../images/background.jpg");
  height:100%;
}

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 5%;
  margin-right: 80%;
  height: 100%;
  display: block;
  font-size: 200%;
  height: 100vh;
}

li {
  padding: 15%;
  color: white;
}

li:hover {
  color: orange;
}

ul {
  list-style-type: none;
  display: inline;
}
